<div class="container">

  <h3 class="display-4 text-right">Twoje Playlisty</h3>
    <div class="row mt-1">
      <div [ngSwitch]="mode" class="col">
        <content-card title="Playlista" *ngSwitchDefault>
            <p>Wybierz <b>playlistę</b>!</p>
        </content-card>

        <content-card title="Playlista {{selected.name}}"  *ngSwitchCase="'selected'">
          <playlist-detail [playlist]="selected" (editplaylist)=" edit($event)"></playlist-detail>
        </content-card>

        <content-card title="Playlista {{selected.name}} - edycja"  *ngSwitchCase="'edit'">
          <playlist-form [playlist]="edited" (saved)="save($event)" ></playlist-form>
        </content-card>

      </div>

      <div class="col">

          <playlists-list [selected]="selected" (selected)=" select($event) " [playlists]="playlists"></playlists-list>

          <div class="form-group">
            <button class="btn btn-success float-xs-right" (click)="createNew($event)">Nowa Playlista</button>
          </div>
        </div>
    </div>
</div>