<div class="container">

  <h3 class="display-4 text-right">Twoje Playlisty</h3>
  <div class="row mt-1">
    <div class="col">
      <content-card>
        <router-outlet></router-outlet>
      </content-card>


      <!-- <content-card title="Playlista {{selected.name}}"  *ngSwitchCase="'selected'">
          <playlist-detail [playlist]="selected" (editplaylist)=" edit($event)"></playlist-detail>
        </content-card>

        <content-card title="Playlista {{selected.name}} - edycja"  *ngSwitchCase="'edit'">
          <playlist-form [playlist]="edited" (saved)="save($event)" ></playlist-form>
        </content-card> -->

    </div>

    <div class="col">

      <playlists-list></playlists-list>

      <div class="form-group">
        <button class="btn btn-success float-xs-right" [routerLink]="['new']">Nowa Playlista</button>
      </div>
    </div>
  </div>
</div>
